/*
colors used:
primary color (navy): #062256;
secondary color (black): rgba(0, 0, 0, .87);
tertiary color (coral): #FE565A
*/
/*=======================
GLOBAL
========================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}


/*
hr {
  width: 100%;
  text-align: left;
  margin-left: 0
}
*/
@media (max-width: 640px) {
  .hide {
    display: none;
  }

  picture {
    width: 100%;
  }
}

/*=======================
SWELL STYLING
========================*/
#swell h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #FE565A;
  margin: 0;
}

#swell h3 {
  font-size: 2em;
  text-transform: none;
  line-height: 1.4;
  padding-top: .5em;
  margin: 0;
}

h3.subheader {
  color: #fe565a;
  font-weight: 800;
  text-align: left;
  font-size: 1.6em !important;
}

#swell h4 {
  font-size: 1em;
  text-transform: none;
  color: #fe565a;
  margin-top: 0;
  margin-bottom: .5em;
}

#swell .projects .row {
  padding: 2em 0;
}

.no-padding {
  padding: 0em !important;
  margin: 0em !important;
}

.no-h4 {
  margin-top: 2em;
}

.img-margin {
  margin: 4em 2em;
}

.img-sml-margin {
  margin: 0 2em;
}

.img-1-margin {
  margin: 1em 2em;
}

.dodont .column {
  display: flex;
  text-align: left;
  margin-bottom: 1em;
  align-items: flex-start;
}

.dodont .column img {
  margin-right: 1em;
  max-width: 3em;
}

.painpoints .column {
  text-align: left;
}

.row.painpoints {
  padding-top: 0 !important;
  margin-top: 0;
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

.personas {
  align-items: center;
  margin-top: 0;
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

.personas2 {
  padding-top: 0 !important;
  padding-bottom: 2em !important;
}

h4.fullwidth {
  text-align: left;
}

.fullwidth {
  width: 100%;
}

a.designstage {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 1em auto;
  background-color: #fe565a;
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 4px;
  transition: 0.2s opacity;
  width: 100%;
  align-content: center;
}

a.designstage:visited,
a.designstage:hover,
a.designstage:focus,
a.designstage:active {
  color: #ffffff;
}

.designstage-buttons {
  margin: 0 2em !important;
  display: flex;
  flex-direction: column;
}

.divider {
  background-color: #fe565a;
  padding: 20px 0;
  max-width: 100% !important;
}

.divider h1 {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

#swell .col-3 {
  text-align: left;
  padding-left: 1em;
}

@media (max-width: 640px) {
  .md-2up img {
    max-width: 75%;
    align-content: center;
  }

  .img-padding {
    margin: 1em 2em;
  }
}

@media (min-width: 640px) {
  a.designstage {
    margin: 0;
  }

  .designstage-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .md-hide {
    display: none;
  }

  .md-2up {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  #swell .col-lg-6 {
    padding: 0 2em;
    flex-direction: column;
  }

  .projects.divider {
    width: 100%;
  }
}

/*=======================
HEADER,BODY & FOOTER
========================*/
header {
  background-color: #ffffff;
  padding: 1em 0;
  text-align: right;
}

header .container {
  position: fixed;
  top: -.5em;
  right: -.5em;
  padding-top: 1em;
}

.about_header {
  padding: 0 0 1.5em 0;
  margin: 0;
}

.intro {
  margin-top: 8em;
  text-align: center;
}

.intro-about {
  margin-top: 3em;
}

.intro img {
  padding-top: 2em;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7;
  color: #062256;
}

footer {
  background-color: #062256;
  padding: 4em 1em 2em 2em;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.1em;
}

footer h3 {
  margin-top: 2em !important;
  font-weight: 800;
  text-transform: uppercase !important;
  text-decoration: none;
  line-height: 1.4 !important;
  font-size: 1.17em !important;
}

footer .row {
  margin: 0 2em;
}

footer a {
  color: white;
}

footer a:visited,
footer a:hover {
  color: white;
}

p.listheader {
  font-weight: 800;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: .5px solid white;
}

footer ul {
  list-style-type: none;
  padding: .5em 0;
  line-height: 2em;
  width: 5%;
  white-space: nowrap;
}

footer ul>li>a {
  text-decoration: none;
  font-size: .9em;
}

footer ul>li>a:hover,
footer ul>li>a:focus {
  font-weight: 700;
}

footer ul>li>a:visited {
  color: #ffffff;
}

footer ul>li>a:active {
  color: #ffffff;
}

.copyright {
  font-size: .8em;
  font-weight: 800;
  margin-top: 4em !important;
  margin-left: 2em;
  padding: 1em;
}

@media (min-width: 640px) {
  header .container {
    top: 1em;
    right: 1em;
  }
}

@media (min-width: 850px) {

  /*
  header {
    padding: 1em 1em;
  }

  body {
    font-size: 1em;
  }
  */
  footer .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  h3 .categories {
    width: 25%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
  }

  .categories {
    width: 20%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
  }

  footer .column.offset {
    margin-left: 15%;
  }

  footer ul {
    width: 100%;
    white-space: nowrap;
  }
}

@media (min-width: 1024px) {
  header .container {
    right: 4em;
  }
}

@media (min-width: 1280px) {
  header .container {
    right: 8em;
  }
}

/*=======================
TYPOGRAPHY
========================*/
h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.75em;
  font-weight: 700;
}

h1 span {
  font-family: 'Raleway', sans-serif;
  font-size: 0.36em;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
  display: block;
  padding-top: .3em;
}

h2 {
  font-size: 2em;
  font-weight: 800;
}

h3 {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

h3 span {
  display: block;
  font-weight: 300;
  text-transform: none;
}

.projects h3 {
  margin-bottom: 3em;
}

p span {
  font-weight: 800;
}

.scroll {
  display: none;
  padding: 3em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #062256;
  text-transform: uppercase;
  font-weight: 700;
  animation: pulse 6s;
}

@media (min-width: 850px) {
  .scroll {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .projects h3 {
    margin: 0;
  }
}

/*=======================
NAVIGATION
========================*/
nav>ul {
  list-style-type: none;
  padding: 10px 2em;
  font-size: 1.1em;
}

nav>ul>li>a {
  text-transform: uppercase;
  text-decoration: none;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  font-weight: 700;
}

nav>ul>li>a:visited {
  color: #062256;
}

nav>ul>li>a:active {
  color: #062256;
}

nav h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-align: right;
  text-transform: uppercase;
  font-weight: 800;
  text-transform: uppercase;
  margin: .2em 0;
}

.selected {
  font-weight: 800;
  text-transform: uppercase;
}

/*=======================
LINKS
========================*/
a {
  color: #062256;
}

a:visited {
  color: #536E99;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0956C6;
  text-decoration: none;
}

a:active {
  color: #0956C6;
  text-decoration: none;
}

a.project_name {
  text-decoration: none;
  color: #062256;
}

/*=======================
BUTTONS
========================*/
.button {
  display: inline-block;
  margin: 1em;
  background-color: #062256;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 400;
  text-decoration: none;
  padding: 4px 20px;
  border: 2px solid white;
  border-radius: 4px;
  transition: 0.2s opacity;
  min-width: 200px;
}

.button:visited {
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  transition: transform .2s;
  transform: scale(1.1);
}

.button.contact_header {
  text-align: center;
  background-color: white;
  font-size: 1em;
  color: #062256;
  border: 2px solid #062256;
}

.button.contact {
  text-align: center;
  background-color: white;
  font-size: 1em;
  color: #062256;
  border: 2px solid #062256;
  max-width: 100%;
}

.button.resume {
  text-align: center;
  background-color: #062256;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid #062256;
  max-width: 100%;
}

a.back_to_top {
  display: block;
  padding: 3em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #062256;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

a.back_to_top:visited,
a.back_to_top:hover,
a.back_to_top:focus,
a.back_to_top:active {
  color: #062256;
}

.btt {
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social img {
  max-width: 1.8em;
  margin: .8em;
  margin-right: 0;
}

/*=======================
ROWS & COLUMNS
========================*/
/*
.container {
  padding: 0 1em;
}
*/
.row {
  margin: 1em 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.projects {
  text-align: center;
  margin: auto;
}

.projects .row {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

.globalbrandsheader {
  padding: 0 2em;
}

.left-text {
  text-align: left;
  padding: 0 2em;
}

.about {
  padding: 1em 2em;
}

.about h1 {
  margin: 1em 0;
}

.logos img {
  width: 100%;
  max-width: 50%;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.background-image {
  display: none;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

@media (max-width: 640px) {
  .flex-column {
    flex-direction: column;
  }
}

@media (min-width: 640px) {
  .col-md-3 {
    width: 25%;
    padding: 0 1em;
  }

  .col-md-6 {
    display: inline-block;
    width: 50%;
    padding: 1em;
  }

  .globalbrandsheader {
    padding-top: 2em;
  }

  .logos img {
    max-width: 20%;
  }

  .logos {
    max-width: 80%;
  }

  .landing-page .container {
    padding: 0;
  }

  .left-text {
    padding: 0 2em;
  }

  .col-md-9 {
    width: 75%;
    margin: auto;
  }
}

@media (min-width: 640px) and (max-width:1023px) {
  .col-md-10 {
    width: 83.33%;
  }

  .projects {
    max-width: 75%;
  }
}

@media (max-width: 1023px) {
  .landing-page {
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 1em 0;
  }

  .landing-page .container {
    padding: 0;
  }

  .landing-page h3 {
    padding: 0 1em;
  }

  .project-intro {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .project_name {
    display: block;
    line-height: 0;
    position: relative;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project_name:hover .overlay {
    opacity: 1;
  }

  .about {
    width: 50%;
    margin: 0em auto;
  }

  .about.col-9 {
    width: 75%;
  }

  .about h1 {
    margin: 0em auto;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .container.no-margin {
    margin: 0;
    max-width: 100%;
  }

  .col-lg-6 {
    width: 50%;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .col-lg-9 {
    width: 75%;
    margin: auto;
  }

  .projects {
    width: 66.66%;
  }
}

/*=======================
ANIMATION & KEYFRAMES
========================*/
.animation {
  display: block;
  width: 50%;
  margin: auto
}

@keyframes pulse {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes e-move {
  from {
    transform: translate(600px, 600px);
  }

  to {
    transform-origin: 0px 0px;
  }
}

.e {
  animation: 2s e-move;
}

@keyframes l-move {
  from {
    transform: translate(600px, 600px);
  }

  to {
    transform-origin: 0px 0px;
  }
}

.l {
  animation: 3s l-move;
}

@keyframes i-move {
  from {
    transform: translate(600px, 600px);
  }

  to {
    transform-origin: 0px 0px;
  }
}

.i {
  animation: 3s i-move;
}

@keyframes z-move {
  from {
    transform: translate(600px, 600px);
  }

  to {
    transform-origin: 0px 0px;
  }
}

.z {
  animation: 2s z-move;
}

@keyframes a-move {
  from {
    transform: translate(600px, 600px);
  }

  to {
    transform-origin: 0px 0px;
  }
}

.a {
  animation: 2s a-move;
}
